body {
  height: 100vh;
  background-image: url('../public/empty-dark-concrete-wall-room-studio-background-floor-perspective-with-blue-soft-light-displays.jpg');
  background-size: cover; /* or "contain" depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: gray !important;
}


.nav-link {
  font-size: 20px !important;
}


.form-control {
  background-color: transparent !important;
  color:whitesmoke !important;
}

.form-select {
  background-color: transparent !important;
  color:whitesmoke !important;
}

.form-select>option {
  color: whitesmoke !important;
  background-color: #07191f;
}

.grade-credit-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-num-input {
  justify-content: center;
}

.result {
  margin-top: 15px;
  background-color: lightcyan !important;
  font-size: xx-large;
  font-weight: bolder;
}

a {
  text-decoration: none !important;
  color: black;
}

.main-text {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.num-input {
  margin-bottom: 20px;
  color: whitesmoke;
}

.cal-btn {
  margin-top: 20px;
}

.cal-btn {
  background-color: #003a4b !important;
  border-color: whitesmoke !important;
}